server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/auth/**,/api/users/**

        - id: notification-service
          uri: http://localhost:8085
          predicates:
            - Path=/notifications/**

    discovery:
      client:
        simple:
          instances:
            user-service:
              - uri: http://localhost:8081
              - uri: http://localhost:8083
