server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**,/api/users/**

        - id: notification-service
          uri: http://notification-service:8085
          predicates:
            - Path=/notifications/**

    discovery:
      client:
        simple:
          instances:
            USER-SERVICE:
              - uri: http://user-service-1:8081
              - uri: http://user-service-2:8083
